@font-face {
	font-family: Exo;
	src: url(../fonts/exo_2_black.otf);
}

body {
	background-color: #f7f7f7;
	min-height: 100vh;
	font-family: Exo, Arial, Helvetica, sans-serif;
}

.new-font {
	color: #fff;
}

h1 {
	margin-bottom: 2em;
}

.uppercase {
	text-transform: uppercase;	
}

#gradient {
	position: relative;
	min-height: 65vh;
	padding: 4em 0;
	margin-bottom: 1em;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-flex-align: center;
	-moz-flex-align: center;
	-ms-flex-align: center;
	-o-flex-align: center;
	flex-align: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	-o-box-align: center;
	box-align: center;
	-webkit-clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 0);
	-moz-clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 0);
	-ms-clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 0);
	-o-clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 0);
}

#answer {
	text-align: center;
	height: 46px;
	font-size: 18px;
	border-radius: 23px;
	color: #999;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

input[type="button"] {
	border-radius: 23px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

h2.new-font {
	color: #6D4CA5;
	padding-bottom: 1em;
}

div.details p.new-font {
	font-size: 1.25em;
	color: #999;
	padding-bottom: 2em;
}

i {
	color: #5cb85c;
}

.pink {
	color: #e83979;
}

.gradient {
	background: linear-gradient(30deg, #3e23ff, #3cff3c, #ff2362, #2dafe6, #ff00ff, #ff8000);
	background-size: 1200% 1200%;
	-webkit-animation: AnimationName 180s ease infinite;
	-moz-animation: AnimationName 180s ease infinite;
	-o-animation: AnimationName 180s ease infinite;
	-ms-animation: AnimationName 180s ease infinite;
	animation: AnimationName 180s ease infinite;
}

.error {
	opacity: 0;
	transition: ease 0.25s;
}

.error-out {
	opacity: 1;
	transition: ease 0.25s;	
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}

.pixelBg {
	background: url(../img/dance_bg.gif);
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-duration: 0.65s;
  -moz-animation-duration: 0.65s;
  -o-animation-duration: 0.65s;
  -ms-animation-duration: 0.65s;
  animation-duration: 0.65s;
}

#dance {
	display: none;
}

#dance img {
	max-width: 100%;
	height: auto;
}

div.success-message {
	position: relative;
	width: 94%;
	display: none;
	margin: 0 auto;
}

div.success-message p {
	position: absolute;
	font-size: 4em;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	top: -1.25em;
	text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}